.movies-card-list {
  grid-gap: 32px 13px;
  display: grid;
  gap: 31px 11px;
  grid-template-columns: repeat(auto-fit,377px);
  justify-content: center;
  margin: 75px auto 0;
  padding: initial;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    margin-top: 0;
    margin-bottom: 78px;
    padding-top: 46px;
    grid-template-columns: repeat(auto-fit, 351px);
    gap: 37px 13px;
  }
}


@media screen and (max-width: 767px) {
  .movies-card-list {
    padding-top: 23px;
    padding-left: initial;
    gap: 12px 26px;
    width: auto;
  }
}