.movies-card-list {
  display: grid;
  gap: 18px 13px;
  grid-template-columns: repeat(auto-fit,374px);
  justify-content: center;
  margin: 0 auto;
  padding-top: 45px;
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    margin-left: 50px;
  }
}