.movies-card-list {
  display: grid;
  gap: 32px 13px;
  grid-template-columns: repeat(auto-fit, 374px);
  justify-content: center;
  margin: 0 auto;
  padding-top: 75px;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    padding-top: 46px;
    grid-template-columns: repeat(auto-fit, 351px);
    gap: 32px 13px;
    width: 808px;
  }
}


@media screen and (max-width: 767px) {
  .movies-card-list {
    padding-top: 23px;
    gap: 8px 13px;
    width: auto;
  }
}